.composition {
    position: relative;
    margin-top: 8rem;
    &__photo {
        width: 55%;
        height: 15rem;
        box-shadow: 0 1.5rem 4rem rgba(black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        
        &--p1 {
            left: 0;
            top: -0.5rem;
        }
    
        &--p2 {
            right: 0;
            top: 2rem; 
        }
    
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba(black, .5);
            z-index: 20;
        }
        
    }
}