.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(black, .1);
    background-color: white;
    border-radius: 3px;
    padding: 2rem;
    font-size: 1.6rem;
    transform: skewX(-7deg);

    //de-skews all direct children elements
    & > * {
        transform: skewX(7deg);
    }

    &__shape {
        width: 10rem;
        height: 10rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);

        clip-path: circle(50% at 50% 50%);
        transform: translateX(-1rem) skewX(7deg);
        position: relative;
    }

    &__img {
        width: 100%;
    }

    &__text {
        transform: skewX(7deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, 20%);
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}