.header {
    height: 95vh;
    background-image: linear-gradient(to bottom ,
    rgba($color-twitterblue, 0.60),
    rgba($color-twittergrey, 0.60)),
     url(../images/cloud.jpg);
    background-size: cover;
    background-position: top;
    position: relative;


    &__logo-box {
        position:absolute;
        top: 2px;
        left: 2px;
    }

    &__logo {
        height: 75px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        opacity: 0.5;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}