#header {
    background-color: #00acee;
    color: white;
    text-align: center;
}

body {
    background-color: #c0deed;
}

#container {
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#problem {
    width: 600px;
    float: left;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00acee;

}

#navigation li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li:hover {
    background-color: white;
    color: #00acee;
}