//Colors
$color-sunsetpurple: #00acee;
$color-sunsetorange:white;
$color-black: black;
$color-coral: #ecdce7;
$color-darkgrey: rgb(133, 129, 129);
$color-twitterblue:  #00acee;
$color-twittergrey: #c0deed;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font
$default-font-size: 1.6rem;